<p id="notice"><%= notice %></p>

<h1>Listing Favors</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th>Requestlive</th>
      <th>Addressid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favors.each do |favor| %>
      <tr>
        <td><%= favor.item %></td>
        <td><%= favor.description %></td>
        <td><%= favor.price %></td>
        <td><%= favor.requestLive %></td>
        <td><%= favor.addressId %></td>
        <td><%= link_to 'Show', favor %></td>
        <td><%= link_to 'Edit', edit_favor_path(favor) %></td>
        <td><%= link_to 'Destroy', favor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favor', new_favor_path %>
