<p id="notice"><%= notice %></p>

<h1>Listing Credit Cards</h1>

<table>
  <thead>
    <tr>
      <th>Csv</th>
      <th>Fname</th>
      <th>Lname</th>
      <th>Expmonth</th>
      <th>Expyear</th>
      <th>Number</th>
      <th>Userid</th>
      <th>Addressid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_cards.each do |credit_card| %>
      <tr>
        <td><%= credit_card.csv %></td>
        <td><%= credit_card.fname %></td>
        <td><%= credit_card.lname %></td>
        <td><%= credit_card.expmonth %></td>
        <td><%= credit_card.expyear %></td>
        <td><%= credit_card.number %></td>
        <td><%= credit_card.userId %></td>
        <td><%= credit_card.addressId %></td>
        <td><%= link_to 'Show', credit_card %></td>
        <td><%= link_to 'Edit', edit_credit_card_path(credit_card) %></td>
        <td><%= link_to 'Destroy', credit_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit card', new_credit_card_path %>
