<p id="notice"><%= notice %></p>

<p>
  <strong>Csv:</strong>
  <%= @credit_card.csv %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @credit_card.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @credit_card.lname %>
</p>

<p>
  <strong>Expmonth:</strong>
  <%= @credit_card.expmonth %>
</p>

<p>
  <strong>Expyear:</strong>
  <%= @credit_card.expyear %>
</p>

<p>
  <strong>Number:</strong>
  <%= @credit_card.number %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @credit_card.userId %>
</p>

<p>
  <strong>Addressid:</strong>
  <%= @credit_card.addressId %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
